<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Display</title>
</head>
<body>
    {% if task %}
    <ul>
        {% for i in task %}
        <li> {{i.id}} | {{i.title}} | {{i.description}} | {{i.created_on}} | {{i.deadline}} | {% if i.completed == False %}Not Completed {% else %} Completed {% endif %} <br>
        <a href="{% url "taskup" i.id %}"> update </a> | <a href="{% url "delete" i.id %}"> Delete </a>
        </li> <br>
        {% endfor %}
    </ul>
    {% else %}
    <p> No task to show !! </p>
    {% endif %}
</body>
</html>